<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drgreend.eventosuva">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/uva"
        android:label="UVA Categorias"
        android:roundIcon="@drawable/uva"
        android:supportsRtl="true"
        android:logo="@drawable/uva"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.eventosuva.EventosCategoria">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.eventosuva.ImageFullsize"> </activity>
        <activity android:name="com.example.eventosuva.EventosGridView"> </activity>
        <activity android:name="com.example.eventosuva.EventosDetalhes"> </activity>
    </application>

</manifest>